<%- include ('../header') %>

	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<!-- <form action="/category" method="post">
							
                            <input name="categoryname" type="text" placeholder="Category Name"/>

							
							<button type="submit" class="btn btn-default">Login</button>
						</form> -->

						<form id="categoryform">
							
                            <input name="categoryName" type="text" placeholder="Category Name"/>

							
							<button type="submit" class="btn btn-default">Add Category</button>
						</form>
						<p id="errmsg"></p>
					</div><!--/login form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
    <%- include ('../footer') %>


